<div id="<%= dom_id location %>" data-controller="collapsible">
  <button class="my-auto cursor-pointer hover:bg-gray-100 px-5 py-4 w-full"
          type="button"
          data-action="click->collapsible#toggle"
  >
    <span class="flex justify-between w-full">
      <span class="flex flex-col justify-start text-left text-sm sm:text-base">

        <% if !location.address.blank? %>
          <span data-test-id="address_line">
            <%= location.address %>
          </span>
        <% end %>

        <span data-test-id="city_state_zip">
          <%= location.city %>, <%= location.state %> <%= location.zip %>
        </span>

        <% if !location.ip_address.blank? %>
          <span class="text-sm italic text-gray-600 text-left" data-test-id="ip_address">
            (<%= location.ip_address %>)
          </span>
        <% end %>

      </span>

      <span class="sm:text-2xl my-auto flex">
        <span class="flex flex-col sm:block">
          <span>
            <%= location.forecasts[0].temp_low %>&deg;F /
          </span>
          <span>
            <%= location.forecasts[0].temp_high %>&deg;F
          </span>
        </span>

        <span class="w-5 h-5 sm:w-7 sm:h-7 my-auto ease-out duration-300"
              data-collapsible-target="caret">
          <%= show_svg("caret_right.svg") %>
        </span>

      </span>
    </span>
  </button>

  <div
    class="px-5 py-4 h-full overflow-hidden"
    data-collapsible-target="content"
    hidden
  >
    <%= line_chart convert_for_line_chart location.forecasts %>

    <div class="mt-6">
      <%= button_to "Delete", location, method: :delete, class: "btn-danger", data: { test_id: "delete" } %>
    </div>
  </div>
</div>
