<div id="<%= dom_id location %>">
  <div class="my-auto hover:bg-gray-100 px-5 py-4">
    <div class="flex justify-between w-full">
      <div>

        <% if !location.address.blank? %>
          <p data-test-id="address_line">
            <%= location.address %>
          </p>
        <% end %>

        <p data-test-id="city_state_zip">
          <%= location.city %>, <%= location.state %> <%= location.zip %>
        </p>

        <% if !location.ip_address.blank? %>
          <p class="text-sm italic text-gray-600" data-test-id="ip_address">
            (<%= location.ip_address %>)
          </p>
        <% end %>

        <p class="mt-4">
          <%= button_to "Delete", location, method: :delete, class: "btn-danger", data: { test_id: "delete" } %>
        </p>
      </div>

      <div class="text-2xl my-auto flex">
        <span>
          70&deg;F / 90&deg;F
        </span>

        <div class="w-7 max-h-7 my-auto">
          <%= show_svg("caret_right.svg") %>
        </div>

      </div>
    </div>
  </div>
</div>
