<div id="<%= dom_id location %>">
  <p>
    <strong>Street Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= location.zip %>
  </p>

  <p>
    <strong>IP Address:</strong>
    <%= location.ip_address %>
  </p>

  <p>
    <%= button_to "Delete", location, method: :delete %>
  </p>
</div>
